.ActiveTimeCodesListItem {
  background-color: var(--primary-color) !important;
  color: var(--inverted-primary-color) !important;
}

.TimeCodes {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--row-gap-s);
  flex: 1;
}

.TimeCodesListItem {
  background-color: var(--inverted-bg-color);
  padding: var(--padding-s);
  cursor: pointer;
  color: var(--white050);
}
