.app.dark {
  --bg-color: #181818;
  --inverted-bg-color: #262626;

  --primary-color: white;
  --secondary-color: gray;
  --inverted-primary-color: rgb(0 112 255);
  --inverted-secondary-color: rgb(94, 50, 255);

  // Colors
  --white050: white;
  --green050: #67ff00;
}
