.app.light {
  --bg-color: rgb(249 249 249);
  --inverted-bg-color: #6e6e6e;

  --primary-color: rgb(0 112 255);
  --secondary-color: rgb(94, 50, 255);
  --inverted-primary-color: white;
  --inverted-secondary-color: gray;

  // Colors
  --white050: #fff;
  --green050: #67ff00;
}
