.MainPage {
  display: flex;
  align-items: center;
}

.VideoContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 1;
  column-gap: var(--column-gap-m);
}

.VideoRectangles {
  display: flex;
  position: relative;
  height: 100%;
}
